<style>

    p {
        color: red;
    }

    a {
        color: blue;
    }

body {
    font-size: 18px;
    color: navy;
	font-family: arial, helvetica, sans-serif;
}

h1 {
    color: #009C05;
    background-color: #401002;
	font-size: 6em;
 letter-spacing: 0.2em;
    word-spacing: 1em;
    line-height: 1;
    text-align: center;
margin: 20px;
    padding: 40px;
}

h3 {
    color: #AA6C39;
font-size: 2em;
text-align: center;
 line-height: -1;
margin: 20px;
    padding: 40px;
border-style: solid;
    border-width: 3px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-color: #401002;
}

h2 {
    color: #AA6C39;
font-size: 4em;
text-align: center;
 line-height: -1;
margin: 20px;
    padding: 40px;
}
h4 {
    color: #AA6C39;
font-size: 1em;
text-align: center;
 line-height: -4;
margin: 200 px;
    padding: -1px;
border-style: dotted;
    border-width: 3px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-color: #009C05;
}

h5 {
    color: #009C05;
font-size: 1em;
text-align: center;
 line-height: -4;
margin: 200 px;
    padding: -1px;
}

a {
    text-decoration: none;
}

}
img {
    float: center;
	#container { overflow: hidden; }
	#floated-imgs { float: center; }
	#floated-imgs img {display: block; }
    z-index: 6;
 max-width: 50%; 

            height: auto;

            margin-top: 20px;

            margin-left: 10px
	

}

strong {
    font-style: italic;
    text-transform: uppercase;
}

</style>