body{

	background-color:#FFB6C1;
}



h1 {
	
text-align: center;

color: #FFB6C1;
background-color: #401002;

font-family: fantasy;
}

h2 {
	text-align: center;

	
}

h3 {
	text-align: center;


}


